@model UserViewModel 

<div class="col-md-12 form-group">
    <br />

    <input type="submit" value="Login" name="submit" class="primary-btn">
    <span class="text-danger">@ViewBag.err</span>
    <span class="text-danger">@ViewBag.role</span>

</div>
